*{
    margin:none;
    box-sizing: border-box;
    text-decoration: none;
}


body{

    background-color: #2d82ba
}

/*select*/

.seleccion{
    max-width: 200px;
    color: #4b4b4b;
    position: relative;
    background-color: #e8fbffb4;
    border-radius: 5px;
    border:  2px solid #29bdee;
    
}

.seleccion:hover {
    color: rgb(0, 0, 0);
    border:  2px solid #29bdee;
    background-color: #e8fbffb4;
    
}

.seleccion select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	height: 25px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background-color: #e8fbffb4;
    color: #4b4b4b;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
    border:  2px solid #29bdee;

    border-radius: 5px;
    position: relative;
   
}

textarea{
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    width: 100%;
    background-color: #e8fbffb4;
    color: #4b4b4b;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border:  2px solid #29bdee;
    border-radius: 5px;
    font-weight: bold;
}
textarea::placeholder{
    color: #ffffff;
}

textarea:focus {
    background-color: #ffffff;
    
}

input{
    border: none;
    font-size: 15px;
    height: auto;
    margin: 0;
    outline: 0;
    width: auto;
    background-color: #e8fbffb4;
    color: #64696d;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border:  2px solid #29bdee;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

input::placeholder{
    color: #ffffffab;
}

input:focus {
    background-color: #ffffff;
}

.botton1{
    background-color: #008CBA; /* Blue */
    border:  2px solid #29bdee;
    height: 25px;
    color: white;
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width:80px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    
    transition: background-color 0.2s;
}

.botton1:hover {
    background-color: #42d0ff;
    color: rgb(255, 255, 255);
    border:  2px solid #76cbe7;
    
}


.botton1:active{
    background-color: #cef3ff;
    color: rgb(255, 255, 255);
    border:  2px solid #a7e9ff;
}

.verde {
    background-color: #4CAF50; 
    color: rgb(255, 255, 255);
    border: 1px solid #4CAF50;
} 

.verde:hover{
    background-color: #79d67c;
    color: rgb(255, 255, 255);
    border:  2px solid #c5f7c6;
}

.verde:active{
    background-color: #cef3ff;
    color: rgb(255, 255, 255);
    border:  1px solid #008CBA;
}


.rojo {
    background-color: #f44336; 
    border-radius:none;
    border:  2px solid #ff8282;
} /* Red */ 


.rojo:hover{
    background-color: #ff8d85;
    color: rgb(255, 255, 255);
    border:  2px solid #ffffff;
}

.rojo:active{
    background-color: #ffd2cf;
    color: rgb(255, 255, 255);
    border:  1px solid #008CBA;
}



/*botton eliminar*/
.delite{
    background-color: #f44336;
    height: 25px;
    border: none;
    color: rgb(255, 255, 255);
    /* padding: 3px 0px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 12px;
    /* cursor: pointer; */
    width:25px;
    border-radius: 12px; 
    /* position: relative; */
    /* z-index: 1; */
    /* overflow: hidden; */
    /* display: inline-block; */
    
    font-weight: 900;
    
}


.delite:hover{
    background-color: #ff8d85;
    color: rgb(255, 255, 255);
    border:  2px solid #ffffff;
}

.delite:active{
    background-color: #ffd2cf;
    color: rgb(255, 255, 255);
    border:  1px solid #ff8282;
}


/*botton pegar*/
.buttonPaste{
    background-color: #4CAF50;
    height: 25px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width:50px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}


.buttonPaste:hover{
    background-color: #7af57e;
    color: rgb(255, 255, 255);
}


.gris {background-color: #e7e7e7; color: black;} /* Gray */ 
.negro {background-color: #555555;} /* Black */


/*Boton copiar*/
.buttonCopy{
    margin: 3px 0px;
    background-color: #008CBA;
    height: 25px;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width:50px;
    border-radius: 10px 0 0 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    border:  1px solid #008CBA;
    
}

.buttonCopy:hover {
    background-color: #42d0ff;
    color: rgb(255, 255, 255);
}



  /*ventana emergente*/
  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #9ec8ff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 9999;
  }

/*Centrar elementos*/
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#2d82ba ;
      border-radius: 5px;
      margin: 2px;
  }

  /*
  input[type="password"] {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
  }*/